{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "18"
        },
        "modules": "commonjs"
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-transform-class-properties",
    "@babel/plugin-syntax-dynamic-import"
  ],
  "env": {
    "prod": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "18"
            },
            "modules": "commonjs"
          }
        ]
      ]
    },
    "dev": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "18"
            },
            "modules": "commonjs"
          }
        ]
      ]
    }
  }
}
