NODE_ENV=
PORT=
AWS_REGION=
ALLOW_ACCESS_ORIGIN=
aws_param_path=
module_code=
FIREBASE_APPNAME=
FRONT_END_URL=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
APNS_CERTIFICATE=
APNS_CONFIG=
COMMON_SOCKET_URL=
FCM_AUTH_KEY=
FIREBASE_ADMIN=
FIREBASE_DATABASE=
GEO_NAME_USER=
IPSTACKKEY=
MAIL_FROM_ADDRESS=
MAIL_HOST=
MAIL_PASSWORD=
MAIL_PORT=
MAIL_USERNAME=
DB_URL=
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=
REDIS_CONFIG=
AGORA_CONFIG=
